[flake8]
ignore = W503  # line break before binary operator
exclude = .git,
          *migrations*,
          venv,
          services/models/__init__.py,
          # personal file
          local_settings.py,
          smbackend/settings_test.py
          # Django settings configuration is built in a way that importing
          # with * is the best option in settings_test.py as it needs contents
          # from settings, but importing with 'import settings' creates circular imports.
builtins = FileNotFoundError

max-line-length = 119
