*~
*.pyc
__pycache__
local_settings.py
data/*
!data/accessibility_rules.csv
.idea
.coverage
venv_smbackend
venv
*.env
.DS_Store
.cache
Procfile
smbackend/test/fixtures/munigeo.json
smbackend/test/tpr_mock_data/*.json
**/.hypothesis
.python-version
*.mo
.django_secret
