*~
*.pyc
__pycache__
local_settings.py
data/
.idea
venv_smbackend
venv
.env
.DS_Store
.cache
Procfile
smbackend/test/fixtures/munigeo.json
smbackend/test/tpr_mock_data/*.json
services/tests/.hypothesis
.python-version
