# Servicemap UI frontend environment configuration
# ========================================================
#
# This file defines a set of (environment) variables that configure most
# of the functionality of servicemap-ui. In order for docker-compose to read
# this file, rename it to `config_dev_ui.env`. As the name implies, this
# file is supposed to be used only in development. For production use
# we recommend setting the environment variables using the facilities
# of your runtime environment.

PORT=2048
# In milliseconds
SSR_FETCH_TIMEOUT=2500

MODE=development

# AppKey for appdynamics browser tracking
# APP_DYNAMICS_APP_KEY=

ACCESSIBILITY_SENTENCE_API="https://www.hel.fi/palvelukarttaws/rest/v4"
SERVICEMAP_API="https://api.hel.fi/servicemap/v2"
EVENTS_API="https://api.hel.fi/linkedevents/v1"
RESERVATIONS_API="https://api.hel.fi/respa/v1"
FEEDBACK_URL="https://api.hel.fi/servicemap/open311/"
DIGITRANSIT_API="https://api.digitransit.fi/routing/v1/routers/hsl/index/graphql"
HEARING_MAP_API="https://kuulokuvat.fi/api/v1/servicemap-url"
PRODUCTION_PREFIX="SM"
# SENTRY_DSN_SERVER=
