Django
djangorestframework
Markdown
django-filter
django-modeltranslation
requests
requests_cache
-e git+https://github.com/tituomin/munigeo#egg=django-munigeo
pytz
django-cors-headers
django-extensions
psycopg2
django-mptt
django-haystack
lxml
raven
elasticsearch
pip-tools
djangorestframework-jsonp
