Django
djangorestframework
djangorestframework-jsonp
elasticsearch>=1.0.0,<2.0.0
Markdown
django-filter
django-modeltranslation
flake8
requests
requests_cache
git+https://github.com/City-of-Helsinki/django-munigeo@v0.2.53#egg=django-munigeo
pytz
django-cors-headers
django-extensions
psycopg2<2.9
django-mptt
django-haystack
lxml
raven~=6.10.0
pip-tools
python-dateutil
pytest-django
pytest-cov
django-polymorphic
requests-mock
hypothesis==3.19.3
tqdm
django-environ
black
isort
pep8-naming
jedi
parso
whitenoise
