Django>=4.0.4
djangorestframework
djangorestframework-jsonp
Markdown
django-filter
django-modeltranslation
flake8
requests
requests_cache
git+https://github.com/City-of-Helsinki/django-munigeo@v0.2.72#egg=django-munigeo
pytz
django-cors-headers
django-extensions
psycopg2-binary<2.9
django-mptt
lxml>=4.6.5
raven~=6.10.0
pip-tools
python-dateutil
pytest-django
pytest-cov
django-polymorphic>=3.1
requests-mock
tqdm
django-environ
black
isort
pep8-naming
jedi
parso
whitenoise
pandas
pykml
shapely
celery
# Currently only revision fa73034be892052893e4ef17926ef3a5d4a21ea2 of django-celery-beat supports django4
git+https://github.com/celery/django-celery-beat.git#fa73034be892052893e4ef17926ef3a5d4a21ea2
django-celery-results
redis
libvoikko