Django==1.7.7
djangorestframework==2.3.14
Markdown==2.6.1
django-filter==0.9.2
django-modeltranslation==0.8.1
requests==2.6.0
requests-cache==0.4.9
-e git+https://github.com/juyrjola/munigeo@f4bb2de93cde10f2ac8583d9585d4c7761036101#egg=django_munigeo-master
pytz==2015.2
django-cors-headers==1.0.0
django-extensions==1.5.2
psycopg2==2.6
django-mptt==0.7.1
django-haystack==2.3.1
lxml==3.4.2
raven==5.2.0
elasticsearch==1.4.0
pip-tools==0.3.6

## The following requirements were added by pip freeze:
PyYAML==3.11
six==1.9.0
urllib3==1.10.2
