Django<2.0
djangorestframework>3.9.4,<3.11
elasticsearch>=1.0.0,<2.0.0
Markdown>3.1
django-filter
django-modeltranslation
flake8
requests
requests_cache
-e git+https://github.com/City-of-Helsinki/django-munigeo@v0.2.16#egg=django-munigeo
pytz
django-cors-headers
django-extensions
psycopg2
django-mptt
django-haystack
lxml
raven
elasticsearch
djangorestframework-jsonp
pip-tools>=4.0.0
python-dateutil
pytest-django
django-polymorphic
requests-mock
hypothesis
tqdm
