-c requirements.txt
urllib3<2  # NOTE: As of django-munigeo 0.2.88, urllib3 2.x is not supported.
ipython
jedi
parso
pip-tools
pytest-django
pytest-cov
PyGithub
requests-mock
ruff==v0.9.4 # sync with .pre-commit-config.yaml
